<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>МЕХКАГ1ОНЧИЙ</title>
    <!-- Подключаем bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<!--body style="background-image: url('https://i.ytimg.com/vi/rbjnkwXuzW4/maxresdefault.jpg');"-->
<body style="background-image: url('https://i.ytimg.com/vi/rbjnkwXuzW4/maxresdefault.jpg');">

    <!-- Создаем контейнер для содержимого -->
    <div class="container-fluid">
        <!-- Создаем заголовок с навигацией -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="/">МЕХКАГ1ОНЧИЙ</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/add_book">Добавить книгу</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/add_movie">Добавить фильм</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/show_all">Показать все книги и фильмы</a>
                    </li>
                </ul>
            </div>
        </nav>

        <!-- Создаем основное содержимое -->
        <div class="jumbotron">
            <h1 class="display-4">Марша доаг1ийла хьамсара мехка хой.</h1>
        </div>

    </div>


    <!-- Подключаем скрипты bootstrap -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>